<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="LocalFolderPrincipal" value="Fallas.Backend" />
  <add key="FolderPrincipal" value="Falla" />
  <add key="AdminUser" value="alorenzoesparza@ono.com" />
  <add key="AdminPassWord" value="Antonio1." />
  <add key="AdminMail" value="falla@antoniole.com" />
  <add key="AdminPassWordMail" value="0501120608Ale*" />
  <add key="SMTPName" value="smtp.1und1.de" />
  <add key="SMTPPort" value="465" />
</appSettings>